html {
  scroll-behavior: smooth;
}

/* Body */
body {
  background-color: var(--empty-space-bg-color);
  line-height: 2;
  margin: 0px;
}

.container-content {
  position: relative;
  margin: 2rem auto;
  padding: 1rem;
  background-color: var(--container-content-bg-color);
  width: 765px;
  border-radius: 10px;
  box-shadow: 0px 7px 4px -1px rgba(0, 0, 0, 0.25);
}
