.container-searchfield {
  background-color: var(--container-search-bg-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.search-field {
  height: 2rem;
  border-radius: 5px;
  border: 1px solid black;
  margin-left: 10px;
}
