:root {
  --empty-space-bg-color: #f8f8f8;
  --container-content-bg-color: #ffffff;
  --container-search-bg-color: #f89a4887;
  --searchfield-border-color: #f89948;
  --searchbutton-bg-color: #fc8925;
}
