:root {
  --empty-space-bg-color: #f8f8f8;
  --container-content-bg-color: #ffffff;
  --container-search-bg-color: #f89a4887;
  --searchfield-border-color: #f89948;
  --searchbutton-bg-color: #fc8925;
  --slicer-border-color: #8d8d8d;
  --slicer-bg-color: #d1d1d1;
  --slicerkey-bg-color: #9e9e9e;
  --slicer-bg-hover-color: #f89948;
}
